<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Wall</title>
    </head>
    <body>

        <ul id="user-wall"></ul>

        <script src="pubic/js/mootools-core-1.3.2.js"></script>
        <script src="pubic/js/promise.js"></script>
        <script src="pubic/js/datasource.js"></script>
        <script src="pubic/js/scrollend.js"></script>
        <script>
            (function(global){

                var all = {
                    init: function(){
                        this.datasource();
                        this.scrollend();
                    },
                    datasource: function(){
                        this.datasource = new DataSource();
                    },
                    scrollend: function(){
                        this.scrollend = new ScrollEnd({
                            offset: 400
                        });
                        scrollend.addEvent('end', function(){
                            $('user-wall').
                        });
                    }
                };
                all.init();

            })(this);
        </script>
    </body>
</html>
